.statusSelect {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.statusSelect legend {
    margin-bottom: 15px;
}

.container {
    display: flex;
    gap: 12px;
}

.button {
    border: none;
    border-radius: 999px;
    padding: 1px 13px;
    cursor: pointer;
    background: #f3f4f6;
    transition: .2s;
    opacity: .8;
}

.button:hover {
    opacity: 1;
}

.selected {
    outline: 4px solid #b6b0b0;
}

.todo {
    background: #ffe5e5;
    color: #990d03;
}

.progress {
    background: #fff1d6;
    color: #7a4202;
}

.done {
    background: #dcfce7;
    color: #01531f;
}