.singleProjectWrapper {
    padding: 0 44px;
}


.main {
    padding: 0 125px 0 100px;
}

.banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 78px;
}

.banner .buttons .createTaskBtn {
    background: black;
    color: white;
    height: 50px;
    width: 140px;
    border-radius: 10px;
    cursor: pointer
}

.banner .buttons .createTaskIaBtn {
    background: var(--dark-orange);
    color: white;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 23px;
    cursor: pointer;
}

.label {
    color: var(--grey800);
    font-size: 24px;
    display: flex;
    align-items: flex-start;
    gap: 16px;
    flex-wrap: wrap;
}

.label button {
    cursor: pointer;
}

.label .data .modifyProject,
.label .data .deleteProject
{
    color: var(--dark-orange);
    text-decoration: underline;
    font-size: 14px;
    margin-left: 14px;
    cursor: pointer;
}

.label .left span {
    color: var(--grey600);
    font-size: 18px;
}
.buttons {
    display: flex;
    gap: 12px;
    align-items: center;
    flex-wrap: wrap;
}

.contributors {
    background: var(--grey100);
    padding: 20px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.contributors .totalContributors {
    font-size: 18px;
    color: var(--grey800);
}

.contributors .totalContributors span {
    color: var(--grey800);
    font-size: 16px;
}

.contributors .detailsContributors {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    border-radius: 10px;
}

.taskList {
    max-width: 1215px;
    padding: 40px 60px;
    background: white;
    border-radius: 10px;
    margin-top: 51px;
    margin-bottom: 80px;
    border: 1px solid var(--grey200);
}

.taskList .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.taskList .header .label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 18px;
    color: var(--grey800);
}

.taskList .header .label span:nth-child(2){
    font-size: 16px;
    color: var(--grey600);
}

.taskList .header .cta {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.taskList .header .cta .displayTask {
    color: var(--dark-orange);
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 14px;
    height: 45px;
    border-radius: 8px;
}
.taskList select {
    height: 63px;
    width: 152px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 0 30px;
    border: 1px solid var(--grey200);
    border-radius: 8px;
    color: var(--grey600);
}

.taskList .searchForm {
    width: 283px;
    height: 63px;
    padding: 0 20px;
    border: 1px solid var(--grey200);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.taskList .searchForm button img {
    width: 14px;
    height: 14px;
}

.idTag {
    display: flex;
    gap: 8px;
}

.idTag .ownerId, 
.idTag .memberId {
    height: 27px;
    width: 27px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.idTag .ownerName {
    color: var(--dark-orange);
    font-size: 14px;
    padding: 0 16px;
    background: var(--light-orange);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.idTag .memberName {
    color: var(--grey600);
    font-size: 14px;
    padding: 0 16px;
    background: var(--grey200);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.idTag .ownerId {
    background: var(--light-orange)
}

.idTag .memberId {
    background: var(--grey200);
}

.selected {
    background: var(--light-orange);
}

.taskList .tasksWrapper {
    display: flex;
    flex-direction: column;
    gap: 17px;
}
.taskList .taskWrapper {
    border: 1px solid var(--grey200);
    margin: 0 40px;
    border-radius: 10px;
}

.taskList .taskWrapper:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.modalDeleteProject {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.modalDeleteProject button {
    background: red;
    height: 50px;
    width: 40%;
    min-width: 150px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.apiResponse {
    color: red;
}

.taskIaContainer .header {
    display: flex;
    gap: 8px;
    align-items: baseline;
}

.taskIaContainer .tasksWrapper {
    min-height: 460px;
}

.taskIaContainer .header h2 {
    color: var(--grey800);
    font-size: 24px;
    margin-bottom: 40px;
    margin-top: 50px;
}

.taskIaContainer .tasksIaForm {
    margin : 50px 0;
}

.taskIaContainer .tasksIaForm .prompt {
    width: 100%;
    background: var(--grey50);
    border-radius: 80px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 0 20px;
}

.taskIaContainer .tasksIaForm .prompt input {
    color: black;
    width: 90%;
    padding: 0 10px;
}

.taskIaContainer .tasksWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.taskIaContainer .registerTasks {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}

.taskIaContainer .addIaTasksBtn {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    border-radius: 10px;
    padding: 0 15px;
    cursor: pointer;
}

@media (max-width: 1023px) {
    .main {
        padding: 0 20px;
    }
}

@media (max-width: 767px) {
    .singleProjectWrapper {
        padding: 0 5px;
    }
    .taskList {
        padding: 40px 10px;
    }
    .taskList .taskWrapper {
        margin: 0;
    }
}