.singleProjectWrapper {
    margin: 90px 125px 0 100px;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    display: flex;
    gap: 12px;
    align-items: center;
}

.contributors {
    background: var(--grey200);
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
}

.contributors .detailsContributors {
    display: flex;
    
}