.form .formContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form .title {
    color: var(--grey800);
    font-size: 24px;
    margin-bottom: 40px;
    margin-top: 55px;
}

.form .formGroup {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.form .input {
    border-radius: 4px;
    border: 1px solid var(--grey200);
    height: 53px;
    padding: 17px;
    color: var(--grey600);
    font-size: 12px;
}

.form label {
    font-size: 14px;
}

.form .dateInputWrapper {
    position: relative;
    width: 100%;
}

.form .dateInput {
    width: 100%;
    height: 56px;
    padding: 0 16px;
    border: 1px solid var(--grey200);
    border-radius: 4px;
    background-color: white;
    color: var(--grey600);
    font-size: 12px;
    font-family: inherit;

    box-sizing: border-box;
}

.form .dateInput:focus {
    outline: none;
    border-color: var(--grey400);
}

.form .submitBtn {
    background: var(--grey200);
    color: var(--grey800);
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 27px;
    margin-top: 56px;
}

.apiResponse {
    width: 100%;
    text-align: center;
    color: red;
}

.error {
    color: rgb(206, 2, 2);
    font-size: 12px;
}