.taskTag {
    display: flex;
    font-size: 12px;
    color: var(--grey600);
}

.taskTag .project,
.taskTag .calendar,
.taskTag .message {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.taskTag .calendar {
    border-left: 1px solid var(--grey400);
    border-right: 1px solid var(--grey400);
    padding: 0 15px;
}

.taskTag .project {
    padding-right: 15px;
}

.taskTag .message {
    padding-left: 15px;
}

.icon {
   height: 15px;
   width: 15px; 
}

@media (max-width: 767px) {
    .taskTag .project span {
        max-width: 90px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .taskTag .calendar span {
        max-width: 40px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}