.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 80px 70px;
  border-radius: 10px;
  min-width: 300px;
  width: 590px;
  margin: auto;
  max-width: 600px;
  position: relative;
}

.cross {
  position: absolute;
  top: 38px;
  right: 38px;
  cursor: pointer;
}