@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark-orange: #D3590B;
  --light-orange: #FFE8D9;
  --grey950: #0F0F0F;
  --grey800: #1F1F1F;
  --grey600: #6B7280;
  --grey400: #9CA3AF;
  --grey200: #E5E7EB;
  --grey50: #F9FAFB;

}

body {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  font-family: var(--inter), sans-serif;
}

