.sectionWrapper {
    margin: 90px 137px 64px 137px;
}

.createProjectBtn {
    background: black;
    color: white;
    height: 50px;
    width: 180px;
    border-radius: 10px;
    cursor: pointer;
}

.projectsWrapper {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1166px;
    justify-content: center;
    gap: 13px;
    margin-bottom: 80px;

}

@media (max-width: 1023px) {
    .sectionWrapper {
        margin: 90px 20px;
    }
}
