.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 94px;
    padding: 0 100px;
    color: var(--dark-orange);
    width: 100%;
    max-width: 1440px;
    background: white;
}

.header .navUl {
    display: flex;
    gap: 16px;
}

.header .navUl .navLi {
    width: 250px;
    height: 80px;
    border-radius: 10px;
}

.header .navUl .navLi .navLink {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.header .idTag {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-orange);
    transition: border-radius 1s ease;
    font-size: 14px;
    color: var(--grey950);
    cursor: pointer;
}

.header .idTag.selected {
    border-radius: 0;
}

.selectedLink {
    color: white;
    background: black;
}

.userMenu {
    position: relative;
    cursor: pointer;
}

.userMenu ul {
    position: absolute;
    top: 10px;
    right: 70px;
}

.userMenu ul li {
    opacity: .7;
}

.userMenu ul li:hover {
    opacity: 1
}

.userMenuList {
    background: white;
    padding-left: 10px;
}

@media (max-width: 1023px) {
    .header {
        flex-wrap: wrap;
        height: auto;
        padding: 20px;

    }
    .nav {
        order: 3;
        width: 100%;
        justify-content: center;
        padding-top: 10px;
    }
    .nav .navUl {
        align-items: center;
        justify-content: space-between;
    }
}

@media (max-width: 767px) {
    .nav .navUl .navLi {
        font-size: 9px;
    }
}