.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 94px;
    padding: 0 100px;
    color: var(--dark-orange);
    width: 100%;
    max-width: 1440px;
}

.header .navUl {
    display: flex;
    gap: 16px;
}

.header .navUl .navLi {
    width: 250px;
    height: 80px;
    border-radius: 10px;
}

.header .navUl .navLi .navLink {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.header .idTag {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-orange);
}

.selectedLink {
    color: white;
    background: black;
}